/* Base */
.my-section-1{
    padding: 5% 0 ;
    background-color: #222222;
}

.my-section-2{
    padding: 5% 0 ;
    background-color: #1c1c1c;
}

.container{
    width: 65vw;
    margin: auto;
    /* border: 1px dashed blue;
    padding: 20px; */
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 2%;
    /* border: 1px dashed greenyellow;
    padding: 20px; */
}

.col{
    margin-top: 10px;
    /* border: 1px dashed red; */
}

.col-25{
    width: calc(25% - 20px);
}

.col-33{
    width: calc(33% - 20px);
}

.col-50{
    width: calc(50% - 20px);
}


/* Navbar component*/
.navbar{
    height: 60px;

    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: center;
    z-index: 1;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar-items{    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-logo{
    font-size: 24px;
    font-weight: 800;
    margin-right: auto;
    cursor: pointer;
    text-decoration: none;
    color: #dd743c;
}
.navbar-logo:visited{
    text-decoration: none;
    color: #ef6318;
}

.navbar-link{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #e65d14;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
}
.navbar-link:visited {
    text-decoration: none;
    color: #dd743c;
}

.navbar-items button{
    margin-left: 20px;
    padding: 14px 35px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: white;
    background-color: #dd743c;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.navbar-items button:hover{
    transform: scale(1.1);
    color: white;
    background-color: #e65d14;
}

/* My footer */
footer{
    background-color: #eeeeee;
}

.footer-items{
    padding: 2% 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: #e65d14;
}




@media screen and (max-width: 1100px) {
    .container{
        width: 90vw;
        margin: auto;
    }
}