/* Experience items */
.exp-header{
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    color: #ffffff;
}

.exp-separator{
    width: 70px;
	height: 4px;
    margin: 1.5% auto 3% auto;
	background-color: #dd743c;
}

.exp-item{
    display: flex;
    color: #bbbbbb;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);  
    /* border: 1px solid red; */
    margin-bottom: 20px;
    min-height: 225px;
    padding: 20px;
}

.exp-item img{
    max-width: 5%;   
    
}

.exp-item h3{
    color: #eeeeee;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: #dd743c;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.exp-item p{
    color: #eeeeee;
    font-size: .85rem;
}

.exp-item li{
    margin-bottom: 10px;
    color: #cccccc;
}