/* Hero home component*/
.hero-home{
    position: relative;
    display: flex;
    height: 90vh;
    background-color: #000000;
}

.hero-home::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/sanjuandelsur2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.15;
    
}


.hh-item{
    padding: 20px;
    position: relative;
    text-align: center;
}

.hh-item p{
    color: #f9f9f9;
    font-size: 22px;
    margin: 0;
}

.hh-item h1{
    color: #eeeeee;
    font-size: 4rem;
    font-weight: 700;
    margin: 2% 0;
}

.hh-item button{
    margin-top: 20px;
    padding: 14px 35px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: #00000000;
    border: 2px solid #e65d14;
    border-radius: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.hh-item button:hover{
    transform: scale(1.1);
    color: white;
    background-color: #e65d14;
}

.myImage{
    width: 60%;
    border: 4px solid #dd743c;
    border-radius: 5px;
    float: right;
}

