/* Skills */
.skills-header{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
    color: #eeeeee;
}

.skills-separator{
    width: 70px;
	height: 4px;
    margin: 1.5% auto 3% auto;
	background-color: #dd743c;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 2%;
}

.col-skills{
    /* border: 1px dashed #dd743c; */
    margin-top: 15px;
}

.col-25{
    width: calc(25% - 20px);
}

.skill-item{
    color: #eeeeee;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);  
    border-radius: 5px;
}

.skill-item h4{
    color: #eeeeee;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #ef6318;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

.skill-item ul{
    padding-left: 20px;
    list-style-image: url('../images/code.png');
}

.skill-item li{
    padding-left: 5px;
    margin-top: 10px;
}

@media screen and (max-width: 1100px) {
    .col-25{
        width: calc(50% - 20px);
    } 
}

@media screen and (max-width: 600px) {
    .col-25{
        width: calc(100% - 20px);
    } 
}

